#gamefield {
	border: 1px solid black;
	width: fit-content;
	display: grid;
}

#background {
	grid-area: 1/1;
	display: grid;
	grid-template-columns: repeat(var(--GRID_COLS), max-content);
}

#background .tile {
	width: var(--TILE_SIZE);
	aspect-ratio: 1/1;
	background-repeat: no-repeat;
	background-size: 100%;
	image-rendering: pixelated;
}

.grass {
	background-image: url("images/tiles/grass.png");
}

.path {
	background-image: url("images/tiles/path.png");
}

.cliff {
	background-image: url("images/tiles/cliff.png");
}

.water {
	background-image: url("images/tiles/water.png");
}

.mine {
	background-image: url("images/tiles/mine.png");
}
.floor_wood {
	background-image: url("images/tiles/floor_wood.png");
}

.floor_stone {
	background-image: url("images/tiles/floor_stone.png");
}

.lava {
	background-image: url("images/tiles/lava.png");
}

.wall {
	background-image: url("images/tiles/wall.png");
}

#items {
	grid-area: 1/1;
}

.item {
	width: var(--TILE_SIZE);
	aspect-ratio: 1/1;
	background-size: 100%;
	image-rendering: pixelated;
	position: absolute;
}

#characters {
	grid-area: 1/1;
}

.npc {
	width: 22px;
	aspect-ratio: 16/20;
	background-size: 400% 400%;
	image-rendering: pixelated;
	position: absolute;
	z-index: 1;
}

#player {
	background-image: url("images/Characters/5.png");
	width: 22px;
	aspect-ratio: 16/20;
	background-size: 400% 400%;
	image-rendering: pixelated;
	z-index: 2;
}

#player.animate {
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);
}
#player.down {
	animation-name: down;
}
#player.up {
	animation-name: up;
}
#player.left {
	animation-name: left;
}
#player.right {
	animation-name: right;
}
@keyframes down {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: -400% 0%;
	}
}

@keyframes up {
	from {
		background-position: 0% -100%;
	}
	to {
		background-position: -400% -100%;
	}
}

@keyframes left {
	from {
		background-position: 0% -200%;
	}
	to {
		background-position: -400% -200%;
	}
}

@keyframes right {
	from {
		background-position: 0% -300%;
	}
	to {
		background-position: -400% -300%;
	}
}

.highlight {
	outline: 2px dashed yellow;
	transform: translateZ(1px);
}

.showRect {
	outline: 1px solid red;
}

.showReg::before {
	content: "";
	position: absolute;
	background-color: cyan;
	width: 1px;
	height: 1px;
	translate: var(--regX) var(--regY);
}

.showHitbox::after {
	content: "";
	position: absolute;
	outline: 1px dotted rgb(34, 255, 0);
	width: var(--hitbox_width);
	height: var(--hitbox_height);
	translate: var(--hitbox_x) var(--hitbox_y);
}
